<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <p class="bg-danger">Error: There is already a task for this document template that are still unapproved.</p>
    </div>
  </div>
</div>