// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=text]{
  display: block;
  height: 34px;
  padding:8px 5px;
  font-size: 14px;
  color: #555;
}
