<h1>Editing document_template</h1>

<%= render 'form' %>

<%= render 'document_templates/versions', document_template: @document_template %>

<%= link_to 'Show', @document_template %> |
<%= link_to 'Back', document_templates_path %>
