<%= link_to action: :index, id: @project.id do %>
<p class="btn btn-sm btn-primary">Back to document list</p>
<% end %>

<br>

<h1>Create a document</h1>
    <div class="form-group">
      <label for="document" class="control-label">Project: </label>
      <p class="form-control-static"><%= @project.name %></p>
    </div>
    <div class="form-group">
      <label for="approver" class="control-label">Template Title: </label>
      <p class="form-control-static"><%= @doctmpl.name %></p>
    </div>

<%= render 'form' %>


